.status_bar
  .status
    .header status
    .value= @ticket.status
  .created
    .header created
    .value
      %span.timestamp-relative #{time_ago_in_words @ticket.created_at} ago
      %span.timestamp-absolute #{@ticket.created_at.strftime('%a %b %e at %l:%M%p')}
  .modified
    .header modified
    .value
      %span.timestamp-relative #{time_ago_in_words @ticket.updated_at} ago
      %span.timestamp-absolute #{@ticket.updated_at.strftime('%a %b %e at %l:%M%p')}
  .owner
    .header owner
    .value nobody
.subject
  .content
    %h2= @ticket.subject
.metadata
  .key id
  .value= @ticket.id
.description
  .content
    .text
      :maruku
        #{@ticket.description}
