%h2.subject= @ticket.subject
.status_bar
  .header
    .short_id ID
    .status Status
    .dates Dates
    .people People
  .info
    .short_id= @ticket.short_id
    .status= @ticket.status.to_s
    .dates
      .created
        %span.label Created
        = format_time(@ticket.created_at)
      .updated
        %span.label Updated
        = format_time(@ticket.updated_at)
    .people
      .relationship
        %span.label Owner
        Somebody
      .relationship
        %span.label Creator
        Nobody Particular
.description
  :maruku
    #{@ticket.description}