%div[@ticket]{ :class => @ticket.status.to_s }
  = render :partial => 'current'
  - form_for @ticket do |f|
    = f.error_messages
    .status
      %span= f.label :status
      %span= f.select :status, Ticket.statuses
    .comment
      %p= f.label :comment
      %p= f.text_area :comment, :cols => 80
    = submit_tag 'Update'