%div[@ticket]{ :class => @ticket.status.to_s }
  = render :partial => 'current'
  - form_for @ticket do |f|
    .status
      %span= f.label :status
      - options = @ticket.status == :new ? { :selected => :open } : {}
      = f.select :status, Ticket.statuses, options
    .comment
      %p= f.label :comment
      %p= f.text_area :comment, :cols => 80, :value => ''
    = submit_tag 'Update'