#main
  %div[@ticket]{ :class => @ticket.status.to_s }
    = render :partial => 'current'
    %h2.update Update Ticket
    - form_for @ticket do |f|
      .field.subject_field
        .label= f.label :subject
        .input= f.text_field :subject
      .field.status_field
        .label= f.label :status
        .input= f.select :status, Ticket.statuses, @ticket.status == :new ? { :selected => :open } : {}
      .field.comment_field
        .label= f.label :comment
        .input= f.text_area :comment, :rows => 10, :value => ''
      .field.submit_field
        .cancel
          = link_to('Cancel', @ticket, :class => 'button')
        .submit
          %a.button#submit{:href => 'javascript:void(0);'} Update
          /= submit_tag 'Update', :class => 'button'
  .sidebar &nbsp;
