#main
  %div[@ticket]{ :class => @ticket.status.to_s }
    %h2.create Create Ticket
    - form_for @ticket do |f|
      .field.subject_field
        .label= f.label :subject
        .input= f.text_field :subject
      .field.description_field
        .label= f.label :description
        .input= f.text_area :description, :cols => 80, :rows => 10
      .field.submit_field
        .cancel
          = link_to('Cancel', :back, :class => 'button')
        .submit
          %a.button#submit{:href => 'javascript:void(0);'} Create
  .sidebar &nbsp;
