#main
  %div[@ticket]{ :class => @ticket.status.to_s }
    %h2.subject= @ticket.subject
    #status_bar{ :class => @ticket.status.to_s }
      .header
        .short_id ID
        .status Status
        .dates Dates
        .people People
      .info
        .short_id= @ticket.short_id
        .status= @ticket.status.to_s
        .dates
          .created
            .label Created
            .time= format_time(@ticket.created_at)
          .updated
            .label Updated
            .time= format_time(@ticket.updated_at)
        .people
          .relationship
            .type Owner
            .person Somebody
          .relationship
            .type Creator
            .person Nobody Particular
    .description
      :maruku
        #{@ticket.description}
    .history
      - @ticket.change_sets.each do |change_set|
        %div[change_set]
          .metadata
            .name Nobody Particular
            .timestamp #{time_ago_in_words change_set.changed_at } ago
          .main
            .avatar
              .image
            .content
              .comment
                :maruku
                  #{change_set.comment}
              %ul.changes
                - change_set.what_changed.each do |key, (old_value, new_value)|
                  %li
                    &#x2192;
                    %span.key= key
                    changed from
                    %code.old "#{old_value}"
                    to
                    %code.new "#{new_value}"
          
  .sidebar
    /.actions
    = link_to 'Update ticket', edit_ticket_path, :class => 'button'