%div[@ticket]
  .current
    .status= @ticket.status
    .info
      .subject= @ticket.subject
      .created 
        Created
        %span.timestamp-relative #{time_ago_in_words @ticket.created_at} ago
        %span.timestamp-absolute #{@ticket.created_at.strftime('%a %b %e at %l:%M%p')}
      .description
        :markdown
          #{@ticket.description}
  .history
    =render :partial => 'change_set', :collection => @ticket.change_sets
