#header
  %h1= @title
  .user_session
    - if warden.authenticated?
      %p.hello= "Signed in as #{warden.user.email}"
      %p.goodbye= link_to 'Sign Out', '.'
  
#nav
  %ul.navigation
    %li#dashboard
      %a{ :href => '/dashboard' } Dashboard
    %li#tickets 
      %a{ :href => '/tickets' } Tickets
    %li#admin
      %a{ :href => '/admin' } Admin
    %li#create
      = link_to 'Create Ticket', new_ticket_url
