!!!
%head
  /%link{ :rel => 'stylesheet', :type => 'text/css', :href => '/ticket_tabs.css' }
  /%script{ :src => '/jquery-1.4.2.min.js', :type => 'text/javascript' }
  = javascript_include_tag('http://code.jquery.com/jquery-1.4.2.min.js')
  = javascript_include_tag 'application'
  = stylesheet_link_tag 'application'
  %title= @title || 'Tickets'
%body
  = render :partial => 'layouts/flash'
  #main
    .content
      = yield