!!!
%head
  /%link{ :rel => 'stylesheet', :type => 'text/css', :href => '/ticket_tabs.css' }
  /%script{ :src => '/jquery-1.4.2.min.js', :type => 'text/javascript' }
  = javascript_include_tag :defaults
  = stylesheet_link_tag :tickets
  %title= @title || 'Tickets'
%body.tickets
  = render :partial => 'layouts/header'
  = render :partial => 'breadcrumbs'
  = yield
  = render :partial => 'layouts/footer'